/* Container */
.container-cartao {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* titulo */
.titulo-pagina {
    text-align: center;
    margin-bottom: 25px;
}

/* tela bonita */
#tabela-compras {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

#tabela-compras th {
    background: #f5f5f5;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

#tabela-compras td {
    padding: 10px;
    border-top: 1px solid #eee;
}

/* form */
.form-cartao {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.form-cartao label {
    background-color: red !important;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
}

.form-cartao input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    transition: 0.2s;
}

.form-cartao input:focus {
    border-color: #6a5acd;
    outline: none;
}

/* form botão */
.botoes-cartao {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn.limpar {
    background: #e74c3c;
    color: white;
}

.btn.adicionar {
    background: #2ecc71;
    color: white;
}

.btn:hover {
    opacity: 0.85;
}

/* botão home */
.btn-home {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #6a5acd;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s;
}

.btn-home:hover {
    opacity: 0.85;
}

#tabela-compras th {
  background:#22222c;
}

#tabela-compras td {
  border-bottom:1px solid #2a2a35;
}

#tabela-compras tr:hover {
  background:#1f1f29;
}

/* estilo celular */
@media (max-width:600px){
  .tabela{
    overflow-x:unset;
  }

  #tabela-compras{
    min-width:100%;
  }

  #tabela-compras th,
  #tabela-compras td{
  font-size:13px;
  padding:10px;
}
}