*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0f0f14;
  color:#fff;
  padding:20px;
}

/* CONTAINER CENTRAL */
.container{
  max-width:1200px;
  margin:auto;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

h1{
  font-size:24px;
}

.btn-add{
  background:#7b2cff;
  border:none;
  color:#fff;
  width:45px;
  height:45px;
  border-radius:50%;
  font-size:22px;
  cursor:pointer;
}

/* CARDS */
.cards{
  display:flex;
  gap:15px;
  margin-bottom:20px;
  flex-wrap:wrap;
}

.card{
  padding:12px 20px;
  border-radius:12px;
  font-weight:bold;
}

.card a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 12px;
}

.nubank{background:#7b2cff;}
.mercado{background:#ffc107;color:#000;}
.santander{background:#c62828;}

/* TABELA */
.tabela{
  background:#181820;
  border-radius:12px;
  overflow:hidden;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  padding:14px;
  text-align:left;
}

#th_valor{
  text-align: right;
}

th{
  background:#22222c;
  font-size:14px;
}

tr{
  border-bottom:1px solid #2a2a35;
}

.valor{
  text-align:right;
  font-weight:bold;
}

.lixeira{
  text-align:center;
  cursor:pointer;
}

/* TOTAL */
.total{
  margin-top:15px;
  display:flex;
  justify-content:space-between;
  background:#181820;
  padding:15px;
  border-radius:12px;
  font-size:18px;
}

/* FORMULÁRIO */
.formulario{
  margin-top:25px;
  background:#181820;
  padding:20px;
  border-radius:12px;
}

.formulario h2{
  margin-bottom:15px;
}

form{
  display:grid;
  gap:12px;
}

input, select{
  padding:12px;
  border:none;
  border-radius:8px;
  background:#22222c;
  color:#fff;
}

.botoes{
  display:flex;
  gap:10px;
}

form button{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
}

.limpar{
  background:#2a2a35;
  color:#fff;
}

.adicionar{
  background:#7b2cff;
  color:#fff;
}

/* ============================= */
/* 📱 CELULAR */
@media (max-width:600px){

  body{
    padding:10px;
  }

  h1{
    font-size:18px;
  }

  .cards{
    flex-direction:column;
  }

  th:nth-child(3),
  td:nth-child(3){
    display:none;
  }

  th:nth-child(1),
  td:nth-child(1){
    display:none;
  }

  th,td{
    font-size:14px;
    padding:10px;
  }

  .total{
    font-size:16px;
  }
}

/* ============================= */
/* 📲 TABLET */
@media (min-width:601px) and (max-width:1024px){

  .container{
    max-width:800px;
  }

  h1{
    font-size:22px;
  }

  th,td{
    padding:12px;
  }
}

/* ============================= */
/* 💻 PC */
@media (min-width:1025px){

  .container{
    max-width:1200px;
  }

  h1{
    font-size:28px;
  }

  th,td{
    padding:16px;
  }

}
